#viewport {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 5px solid;
}

#zone {
    background-color: red;
    width: 50px;
    height: 500px;
    position: absolute;
}

#kenny {
    background: url("img/Kenny-icon.png");
    width: 32px;
    height: 32px;
    position: absolute;

}

#buttons {
    text-align: center;
    margin-top: 25px;
}

@keyframes rotate {
    0% {
        transform: translateX(-10px);
    }
    100%{
        transform-origin: left bottom;
        transform: rotate(-90deg);
    }
}